.header{
    height: 80px;
    background:#0f5553 ;
}


.nav1-app{
    display: flex;
    list-style: none;
    padding: 0 10px;
    
} 
.nav1-app-item{
    color: white;
   

}
/* logo */
.nav1-app-logo{
    font-size: 50px; 
  
    color: white;
   
}
/* nút bấm ô cữa */


/* drop down */

.nav1-app-item-windows-btn{
    width: 250px;
    height: 50px;
    border: 1px solid #0f5553 ;
    border-radius: 5px;
    background: turquoise;
    list-style: none;
    margin-top: 15px;
    margin-left: 5px;

}
.toggle-box {
  display: none;
}
.toggle-box + label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 5px;
  font-size: 1rem;
}
.toggle-box + label + div {
  display: none;
  margin-bottom: 10px;
}
.toggle-box:checked + label + div {
  display: block;
}
.all_project-list-part{
    list-style: none;
    padding-top: 15px;
    background-color: rgb(13, 48, 44);
    color: white;
    padding-left: 20px;
    width: 250px;
    height: 50px;
    font-size: smaller;
    text-align: left;
    padding-bottom: 15px;
}
.nav1-app-item-windows-btn:focus{
    background-color: rgb(13, 48, 44);
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
} 
.all_project-list-part:hover{
    background-color: rgb(30, 107, 99);
}



.test{
    list-style: none;
    display: flex;
    width:100%;
    height: 100%;
    background: none;
    color: white;
    padding-left: 0px;
    margin-left: 0px;
    padding-top: 7px ;
    padding-right: 5px;
}
.test1-2{
    padding-right: 20px;
   
}
.test-2{
list-style: none;
display: flex;
padding-left: 6px;
}
.test-icon{
    font-size: 2rem;
    padding: 0 5px;
    margin-bottom: 20px;
}
.test-text{
   
    padding: 5px 2px;
}
.project-part{ 
    margin-top: 1px;
    padding-top: 0px;
}
.test1-2{
    padding: 4px;
   padding-left: 50px;
}
.xoadaucham{
    list-style: none;
    padding-left:10px;
    padding-right: 10px;
}
.nav1-app-item-windows-btn:hover{
    background-color: rgb(56, 207, 192);
    /* rgb(48, 133, 124); */
    ;

}

/* text btn */

.nav1-app-item-search{
    height:48px ;
    width: 300px;
    border-radius: 5px;
    background-color: white;
    margin-top: 16px;
    display: inline-block;

}

.nav1-app-item-searchbox-type{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: slategray;
    border-radius: 5px;
    padding: 8px 12px ;
    font-size: 1.5rem;
    display: flex;
    margin-bottom: 5px;
}
.boxContainer{
    position: relative;
    width: 300px;
    height: 48px;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
}
.eContainer{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border: none;
}
.search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    color: #334045;
    font-weight: 500;
    padding-bottom: 5px;
}
.search:focus{
    outline: none;
}
.material-icon{
    
    color: black;  
}
.nav1-app-item-search-icon{
    color: #334045;
    font-size: 1.4rem;
    padding-top: 2.5px;
}
.nav1-app-item-search-icon:hover{
    color: black;
}

/* flat demo */
.flag-btn{
    width: 50px;
    height: 50px;
    border: 1px solid #0f5553 ;
    background:none;
    margin-top: 17px;
    margin-left: 10px;
    margin-right: 10px;
}
.flag-btn img{
    max-width: 150%;
    height: auto;
    display: block;
    padding: 0 5px;   
}



/* orange btn   */
.orange-btn{
    width: 200px;
    height: 50px;
    border: 1px solid rgb(76, 211, 132);
    border-radius: 5px;
    background: #25ca77;
    margin-top: 15px;
    margin-left: 15px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.orange-btn:hover{
    background: white;
    color:#25ca77 ;
    transition: 0.2s;
}

/* green btn */
.green-wallet{
    color: #18c6cc;
}
.green-btn{
    width: 200px;
    height: 50px;
    border: 1px solid rgb(57, 167, 211);
    border-radius: 5px;
    background: white;
    color:#18c6cc;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 1rem;
    font-weight: bold;
    justify-content: space-between;

}
.green-btn:hover{
    background: #18c6cc;
    color: white;
    transition: 0.2s;
    
}
.green-font{
    font-size: 1.5rem;
}
/* icon */
.nav1-app-item-icon{
    font-size:  1.7rem;
    padding: 10px 15px;
    color:#a0ccc5;
}
.nav1-app-item-icon:hover{
    color: white ;
    transition: 0.2s;
}
.icon-ul{
    list-style: none;
    display: flex;
    padding-top: 11px;
    height:48px ;
    width: 200px;
    padding-left: 10px;

}
/* nav1 */

/* nav2 */

.navbar2-main{
    list-style: none;
    display: flex;
   cursor: pointer;
}
.navbar2-list-part::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #18c6cc;
    display: block;
    margin: auto;
    transition: 0.2s;
}
.navbar2-list-part:hover::after {
    width: 100%;
}
.navbar2{
  
    padding: 0px 130px ;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.navbar2-list-part{
    color: rgb(13, 48, 44);
    padding: 0 30px ;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}
.navbar2-list-part:hover{
    color: #1ad6b7 ;

}

.line{
   padding-top: .2px;
    border-bottom: 1px solid #ccc;
}
/* nav3 */

.nav3{
    color: rgba(51, 47, 47, 0.548);
    padding: 10px 160px ;
    justify-content: space-between;
    cursor: pointer;
}
.nav3min{
    font-size: 0.8rem;
    justify-content: space-between;
    padding: 20px 140px;
}
/* dong dau tien dau header */
/* class chứa tất cả là tittle */
 .tittle{     
     padding-top: 100px;  /* cách header 100px */
      padding-left: 40px;
       /*cách lề trang 20px*/
 }


.tittle h2{
   font-weight: bold;  /* cho dòng 'Mẫu trang đích' font chữ in đậm*/
    
}
/* class chứa 3 tittle text */
.small-tittle{
    display: flex;
    justify-content: space-between; 

}
.small-tittle-item{
    list-style: none;
    display: flex;
    padding-top: .2px;
    border-bottom: 1px solid #ccc;
   
}
.small-tittle-item-main{
    padding-right:  24.4px;
    padding-left:  30px;
    padding-top: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    
  
}
.small-tittle-item-main::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #18c6cc;
    display: block;
    margin: auto;
    transition: 0.2s;
   
}
.small-tittle-item-main:hover::after{
    width: 100%;
}
.small-tittle-item2{
    list-style: none;
    display: flex;
    padding-top: .2px;
    border-bottom: 1px solid #ccc;
    width: 853px;
}
.small-tittle-item-main2{
    padding-left: 400px;
    padding-right: 30px;
    padding-top: 10px;
    
}
.fa-star::before{
    content: "\f005";
    color: yellow;
    font-size: 1.5rem; 
}
.fa-shopping-bag::before{
    content: "\f290";
    color: grey;
    padding: 0 10px;
    
}
/* banner */

.row{
    margin-left: 40px;
}
.first-banner{
    list-style: none;
    display: flex;
    justify-content: space-between; 

}
.first-banner-item{
    padding-top: 10px;
}
.first-banner-item i {
    font-size: 1.2rem;
    padding: 0px 10px;
}
.control-panel{
    width: 200px;
    height: 40px;
    border: 1px solid rgba(36, 153, 221, 0.986);
    border-radius: 5px;
    color:  rgba(36, 153, 221, 0.986);
    background: none;
    font-weight: bold;
    font-size: 0.9rem;  
}
.live-demo{
    width: 200px;
    height: 40px;
    border: 1px solid rgba(36, 153, 221, 0.986);
    border-radius: 5px;
    color:  white;
    background: rgba(31, 137, 199, 0.986);
    font-weight: bold;
    font-size: 0.9rem;  
}

.control-panel:hover{
    border: 1px solid rgba(34, 100, 138, 0.986);
    color:  rgba(34, 100, 138, 0.986);
    transition: 0.2s;
}
.live-demo:hover{
    background: rgba(42, 141, 199, 0.986);

}
/* hover pic */
.image{
    position: relative;
    width: 640px;
}
.image img{
    display: block;
    width: 640px;
    height: 300px;
}
.image__overlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.8);
   opacity: 0;
}

.image__overlay:hover{
    opacity: 1;
}


.con-btn{
    width: 250px;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
    background:none;
    margin: 140px 200px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.con-btn:hover{
    background: white;
    color:black;

}
/* dong duoi hover */
.icon-link{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.icon-link-left{
    list-style: none;
    display: flex;
}
.icon-link-left-icon{
    color: rgb(56, 138, 163);
    
}
.fix-icon{
   padding-left: 5px;
   padding-right: 10px;
    font-size: 1.7rem;
}
.fix-text{
    padding: 10px;
    padding-left: 0%;
    cursor: pointer;
}
.icon-link-right{
    list-style: none;
}
.icon-link-right li i {
    color: rgb(56, 138, 163);
    font-size: 1.4rem;
    padding-right: 10px;
    padding-top: 5px;
}
.icon-link-right li i:hover{
    color: teal;
}
.icon-link-left-icon:hover{
    color: teal;
}
/* phan ben kia ban */
.first-right{
    width: 500px;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}
.first-right-text{
    list-style: none;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0 20px;
}
.first-right-money{
    list-style: none;
    display: flex;
}
.first-right-money-real-to {
    font-size:0.9rem;
    color: #334045;
    padding: 10px ;
    font-weight: bold;
}
.first-right-money-real-main{
    font-size: 1.5rem;
    color: red;
    padding: 2px ;
    padding-right: 20px;
    font-weight: bold;
}
.first-right-below{
   list-style: none;
   padding-top: 2px;
   margin-top: 2px;
  
}
.first-right-below-text{
    color: grey;
    font-size: 0.8rem;
}
.text{
    font-weight: bold;
    padding-top: 5px;
    
}

/* checkbox */
.checkbox{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 450px;
}
.checkbox-btn{
    color: grey;
    padding-top: 7px;
}
.monney{
    display: flex;
    list-style: none;
}
.monney-to{
    padding-right: 10px;
    color: grey;
    padding-top: 7px;
}
.monney-real{
    color: red;
    font-size: 1.5rem;
   
}
.checkbox-btn:hover{
    color: rgb(118, 173, 36);
}
.check{
    padding-left: 0;
}
.monney-goc{
    color: black;
    font-size: 1.4rem;
}
.btn-mua{
    width: 400px;
    height: 50px;
    border: 1px solid rgb(87, 184, 87);
    color: white;
    border-radius: 5px;
    background: rgb(47, 223, 55);
    margin-left: 40px;
    margin-top: 20px;
}
.btn-mua:hover{
    background: rgb(34, 173, 41);
}
.text-mid-btn{
    margin: 20px ;
    padding-left: 200px;
}
/* vung kết */
.btn-free{
    background: rgb(231, 230, 131);
    width: 430px;
    height: 150px;
    margin-left: 30px;
}
.text-zone{
    display: flex;
    padding: 0px 20px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.green-text{
    color: green;
   font-size: 18.5px;
    padding: 0 3px;
}
.normal{
    padding-top: 3px;
  
}
.btn-free-real{
    width: 360px;
    height: 50px;
    border: 1px solid rgb(79, 207, 201);
    color: white;
    border-radius: 5px;
    background: rgb(47, 188, 223);
    margin-left: 35px;
    margin-top: 10px;
    
}
.btn-free-real:hover{
    background: rgba(35, 200, 241, 0.76);
}
/* second right */
.second-right{
    border: 1px solid rgba(170, 164, 164, 0.774);
    width: 430px;
    height: 750px;
    margin-left: 60px;
    border-radius: 4px;
}
.first-tittle{
    padding-left: 20px;
    padding-top: 20px;
}
.cacloaianh{
    padding-left: 30px;
    padding-right: 20px;
}
.cacloaianh a{
    font-size: smaller;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.cacloainut{
    padding-left: 20px;
    padding-right: 20px;
}
.btn-nut{
    border: 1px solid rgba(90, 74, 74, 0.548);
    width: 80px;
    height: 35px;
    border-radius: 5px;
    background: none;
    color: gray;
    margin: 4px 5px;
}
.btn-nut:hover{
   color: rgba(32, 170, 189, 0.774);
    border: 1px solid rgba(32, 170, 189, 0.774);
}
.row{
    padding-left: 20px;
    padding-top: 10px;
}
.tab{
    color: rgb(50, 164, 184);
    font-size: 1rem;
    cursor: pointer;
}
.tab:hover{
    color: rgb(22, 207, 240); 
}



footer{
    text-align:center;
    background: #2be488;
    color: #fff;
    padding: 15px 0;
    margin-top: 30px;
}